@model Course
<div class="mb-3">
    <form asp-controller="Course" asp-action="CreateCourse" method="post">
        <div class="form-group">
            <label asp-for="CourseName">Course Name</label>
            <input class="form-control" asp-for="CourseName">
        </div>
        <div class="form-group">
            <label asp-for="CourseTitle">Course Title</label>
            <input class="form-control" asp-for="CourseTitle">
        </div>
        <div class="form-group">
            <label asp-for="InstructorId" class="form-label">Instructor Name</label>
            <select asp-for="InstructorId" asp-items="ViewBag.Instructors" class="form-select">
                <option value="">Choose</option>
            </select>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-outline-secondary">
                Create
            </button>
            <a asp-controller="Course" asp-action="CourseList" class="btn btn-outline-secondary">List</a>
        </div>
    </form>
</div>